In [26]:
import pandas as pd
import math
import numpy as np

In [9]:
def read_csv_file(filename):
    df = pd.read_csv(filename)
    print(df.info())
    return  df

In [10]:

df = read_csv_file('train.csv')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB
None

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [194]:
def drop_columns(df , columns):
    new_df = df.drop(columns =columns, axis = 0)
    return new_df

In [195]:
columns_to_be_dropped = ['employee_id' , 'recruitment_channel', 'age' ,'gender','education']
new_df = drop_columns(df, columns_to_be_dropped)
new_df.head()

,department,region,no_of_trainings,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,1,5.0,8,1,0,49,0
1,Operations,region_22,1,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,1,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,2,1.0,10,0,0,50,0
4,Technology,region_26,1,3.0,2,0,0,73,0

In [106]:
new_df.isnull().sum()

department                 0
region                     0
no_of_trainings            0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [120]:
X = [] 
X = new_df.values.tolist()

In [121]:
def count_non_null_in_list(X , col_id):
    k=0
    for row in X:
        if math.isnan(row[3]) == True:
            k= k+1
    return k
    
count_non_null_in_list(X , 3)

4124

In [201]:
def do_missing_transformation(X, test_time=False):
    if test_time==False:
        for row in X:
            if math.isnan(row[3]) == True and row[8] == 1:
                row[3] = 5.0
            elif math.isnan(row[3]) == True:
                row[3] = 3.0
    else:
        for row in X:
            if math.isnan(row[3]) == True:
                row[3] = 3.0

do_missing_transformation(X)

TypeError: must be real number, not numpy.str_

In [124]:
count_non_null_in_list(X, 3)

0

In [125]:
import numpy as np

def get_features_and_labels(X):
    X = np.array(X)
    labels = X[:,-1]
    X = X[:,:-1]
    return X, labels

X, labels = get_features_and_labels(X)

In [126]:
X

array([['Sales & Marketing', 'region_7', '1', ..., '1', '0', '49'],
       ['Operations', 'region_22', '1', ..., '0', '0', '60'],
       ['Sales & Marketing', 'region_19', '1', ..., '0', '0', '50'],
       ...,
       ['Analytics', 'region_1', '1', ..., '1', '0', '79'],
       ['Sales & Marketing', 'region_9', '1', ..., '0', '0', '45'],
       ['HR', 'region_22', '1', ..., '0', '0', '49']], dtype='<U17')

# One Hot Encoding

In [127]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

def one_hot_encoding(X , col_id):
    lbl = LabelEncoder()
    enc = OneHotEncoder(sparse=False)
    X[:,col_id] = lbl.fit_transform(X[:,col_id])
    integer_encoded = X[:,col_id].reshape(len(X[:,col_id]), 1)
    onehot_encoded = enc.fit_transform(integer_encoded)
    onehot_encoded = np.array(onehot_encoded)
    new_X = np.append(np.delete(X, col_id, axis = 1),onehot_encoded, axis = 1)
    print(new_X.shape)
    return new_X

In [130]:
X = one_hot_encoding(X, 1)
X

(54808, 53)

array([['1', '8', '1', ..., '0.0', '0.0', '1.0'],
       ['1', '4', '0', ..., '0.0', '0.0', '1.0'],
       ['1', '7', '0', ..., '1.0', '0.0', '0.0'],
       ...,
       ['1', '3', '1', ..., '0.0', '0.0', '1.0'],
       ['1', '2', '0', ..., '0.0', '0.0', '0.0'],
       ['1', '5', '0', ..., '0.0', '0.0', '0.0']], dtype='<U32')

# Train Test Split

In [166]:
from sklearn.model_selection import train_test_split

X_train, X_valid , y_train, y_valid = train_test_split(X, labels, test_size =0.15, shuffle=True)

In [167]:
X_train.shape , y_train.shape , X_valid.shape , y_valid.shape

((46586, 53), (46586,), (8222, 53), (8222,))

# Classifiers

In [175]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

def print_summary(classifier , X_valid, y_valid):
    prediction = classifier.predict(X_valid)
    print(accuracy_score(y_valid, prediction))
    print(classification_report(y_valid, prediction))
    print(confusion_matrix(y_valid, prediction))

In [186]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree 
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

def try_default_classifiers(X_train, y_train):
    classifier_rf = RandomForestClassifier()
    classifier_rf.fit(X_train, y_train)
    print("For Random Forests:\n")
    print_summary(classifier_rf, X_valid, y_valid)
    
    classifier_t = tree.DecisionTreeClassifier()
    classifier_t.fit(X_train, y_train)
    print("For Decision Tree:\n")
    print_summary(classifier_t, X_valid, y_valid)
    
    classifier_svc = SVC()
    classifier_svc.fit(X_train, y_train)
    print("For SVC:\n")
    print_summary( classifier_svc, X_valid, y_valid)
    
    classifier_nb = GaussianNB()
    classifier_nb.fit(X_train, y_train)
    print("For Naive Bayes:\n")
    print_summary( classifier_nb, X_valid, y_valid)
    
    classifier_knn = KNeighborsClassifier()
    classifier_knn.fit(X_train, y_train)
    print("For KNN:\n")
    print_summary( classifier_knn, X_valid, y_valid)
    
    return [classifier_rf, classifier_t, classifier_svc, classifier_nb, classifier_knn]

In [183]:
X_train =X_train.astype(float)
y_train = y_train.astype(float)
X_valid = X_valid.astype(float)
y_valid = y_valid.astype(float)

In [187]:
classifier_list = try_default_classifiers(X_train, y_train)

For Random Forests:

0.9310386767209925
             precision    recall  f1-score   support

        0.0       0.95      0.98      0.96      7520
        1.0       0.66      0.39      0.49       702

avg / total       0.92      0.93      0.92      8222

[[7382  138]
 [ 429  273]]
For Decision Tree:

0.9174166869374848
             precision    recall  f1-score   support

        0.0       0.95      0.96      0.96      7520
        1.0       0.52      0.44      0.48       702

avg / total       0.91      0.92      0.91      8222

[[7232  288]
 [ 391  311]]
For SVC:

0.9402821697883726
             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      7520
        1.0       0.99      0.30      0.46       702

avg / total       0.94      0.94      0.93      8222

[[7518    2]
 [ 489  213]]
For Naive Bayes:

0.5581367063974702
             precision    recall  f1-score   support

        0.0       0.96      0.54      0.69      7520
        1.0       0.13      0.75      0.23       702

avg / total       0.89      0.56      0.65      8222

[[4061 3459]
 [ 174  528]]
For KNN:

0.9284845536365848
             precision    recall  f1-score   support

        0.0       0.93      0.99      0.96      7520
        1.0       0.75      0.24      0.37       702

avg / total       0.92      0.93      0.91      8222

[[7465   55]
 [ 533  169]]

In [208]:
final_model = classifier_list[2]

# Neural Network

In [136]:
import keras
from keras.layers import BatchNormalization
from keras.layers.core import Flatten,Dense,Dropout, Activation, Lambda
from keras.models import Model, Sequential
from keras.optimizers import Adam,SGD
from keras.callbacks import TensorBoard

Using TensorFlow backend.

In [137]:
model = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
model.add(BatchNormalization(input_shape=(53,)))
model.add(Dense(1000))
model.add(Activation('relu'))


#model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(500))
model.add(Activation('relu'))
#model.add(Dropout(0.2))
#model.add(BatchNormalization())
model.add(Dense(50))
model.add(Activation('relu'))

model.add(Dense(1))
model.add(Activation('sigmoid'))
model.compile(optimizer = 'Adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

In [138]:
model.fit(X_train, y_train, epochs=10, verbose =1, validation_data=(X_valid, y_test), batch_size =64)

Train on 49327 samples, validate on 5481 samples
Epoch 1/10
49327/49327 [==============================] - 18s 360us/step - loss: 0.2053 - acc: 0.9296 - val_loss: 0.1797 - val_acc: 0.9409
Epoch 2/10
49327/49327 [==============================] - 17s 345us/step - loss: 0.1729 - acc: 0.9378 - val_loss: 0.1802 - val_acc: 0.9398
Epoch 3/10
49327/49327 [==============================] - 17s 346us/step - loss: 0.1691 - acc: 0.9390 - val_loss: 0.1705 - val_acc: 0.9427
Epoch 4/10
49327/49327 [==============================] - 17s 344us/step - loss: 0.1654 - acc: 0.9401 - val_loss: 0.1673 - val_acc: 0.9447
Epoch 5/10
49327/49327 [==============================] - 17s 346us/step - loss: 0.1625 - acc: 0.9404 - val_loss: 0.1654 - val_acc: 0.9433
Epoch 6/10
49327/49327 [==============================] - 17s 353us/step - loss: 0.1620 - acc: 0.9406 - val_loss: 0.1623 - val_acc: 0.9431
Epoch 7/10
49327/49327 [==============================] - 17s 354us/step - loss: 0.1587 - acc: 0.9419 - val_loss: 0.1649 - val_acc: 0.9454
Epoch 8/10
49327/49327 [==============================] - 17s 354us/step - loss: 0.1563 - acc: 0.9423 - val_loss: 0.1614 - val_acc: 0.9447
Epoch 9/10
49327/49327 [==============================] - 18s 357us/step - loss: 0.1558 - acc: 0.9431 - val_loss: 0.1629 - val_acc: 0.9464
Epoch 10/10
49327/49327 [==============================] - 18s 359us/step - loss: 0.1536 - acc: 0.9439 - val_loss: 0.1636 - val_acc: 0.9454

# Test Data Prediction

In [196]:
test_df = read_csv_file('test.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
employee_id             23490 non-null int64
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB
None

In [197]:

new_test_df = drop_columns(test_df, columns_to_be_dropped)
new_test_df.head()

,department,region,no_of_trainings,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_26,1,NaN,1,1,0,77
1,HR,region_4,1,3.0,5,0,0,51
2,Sales & Marketing,region_13,1,1.0,4,0,0,47
3,Procurement,region_2,3,2.0,9,0,0,65
4,Finance,region_29,1,4.0,7,0,0,61

In [198]:
new_test_df.isnull().sum()

department                 0
region                     0
no_of_trainings            0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [205]:
X_test_1 = [] 
X_test_1 = new_test_df.values.tolist()

do_missing_transformation(X_test_1,True)

In [206]:
count_non_null_in_list(X_test_1,3)

0

In [207]:
X_test_1 = np.array(X_test_1)
X_test_1.shape

(23490, 8)

In [154]:
X_test_1 = one_hot_encoding(X_test_1,1)

(23490, 53)

In [155]:
X_test_1[0]

array(['1', '1', '1', '0', '77', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '1.0', '0.0', '0.0'], dtype='<U32')

In [210]:
def do_prediction_and_write_file(X,  filename, model, Neural_Network=False):
    pred_test = model.predict(X)
    
    if Neural_Network==False:
        file = open(filename , 'a+')
        for i in pred_test:
            file.write(i+'\n')
        file.close()
    
    else:
        pred_test = (pred_test >=0.5).astype(int)
        pred_test = pred_test.reshape(-1)
        file = open(filename, 'a+')
        for i in pred_test:
            file.write(str(i)+'\n')
        file.close()
    return pred_test

# Write Test Results to CSV

In [222]:
def write_csv(pred_test, filename):
    df = pd.read_csv('submission_1.csv')
    df['is_promoted'] = pred_test
    df.to_csv(filename,index=False)

In [223]:
write_csv(pred_test, 'test.csv')