In [1]:
## Importing Libraries

In [34]:
import pandas as pd
import math
import numpy as np

In [35]:
def read_csv_file(filename):
    df = pd.read_csv(filename)
    #print(df.info())
    return  df

In [36]:
df = read_csv_file('train.csv')
df.head()

,serial number,account_info,duration_month,credit_history,purpose,credit_amount,savings_account,employment_st,poi,personal_status,...,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
0,1,A11,6,A34,A43,1169,A65,A75,4,A93,...,4,A121,67,A143,A152,2,A173,1,A192,A201
1,2,A12,48,A32,A43,5951,A61,A73,2,A92,...,2,A121,22,A143,A152,1,A173,1,A191,A201
2,3,A14,12,A34,A46,2096,A61,A74,2,A93,...,3,A121,49,A143,A152,1,A172,2,A191,A201
3,4,A11,42,A32,A42,7882,A61,A74,2,A93,...,4,A122,45,A143,A153,1,A173,2,A191,A201
4,5,A11,24,A33,A40,4870,A61,A73,3,A93,...,4,A124,53,A143,A153,2,A173,2,A191,A201

In [37]:
test_df = read_csv_file('test.csv')

In [38]:
fil_cols = [ 'account_info' , 'credit_history' , 'purpose' , 'savings_account', 'employment_st', 'personal_status', 'gurantors', 'property_type' ,'installment_type' ,'housing_type' ,'job_type', 'telephone' , 'foreigner' , 'serial number' , 'duration_month',  'poi' , 'resident_since' , 'age', 'credits_no', 'liables', 'credit_amount']
val_cols = [ 'account_info' , 'credit_history' , 'purpose' , 'savings_account', 'employment_st', 'personal_status', 'gurantors', 'property_type' ,'installment_type' ,'housing_type' ,'job_type', 'telephone' , 'foreigner' , 'serial number' , 'duration_month',  'poi' , 'resident_since' , 'age', 'credits_no', 'liables']

len(fil_cols)
obj_cols = [ 'account_info' , 'credit_history' , 'purpose' , 'savings_account', 'employment_st', 'personal_status', 'gurantors', 'property_type' ,'installment_type' ,'housing_type' ,'job_type', 'telephone' , 'foreigner' ]

In [39]:
def reorder_columns(fil_cols, df):
    df =df[fil_cols]
    return df

In [40]:
df =reorder_columns(fil_cols, df)

In [41]:
df.head()

,account_info,credit_history,purpose,savings_account,employment_st,personal_status,gurantors,property_type,installment_type,housing_type,...,telephone,foreigner,serial number,duration_month,poi,resident_since,age,credits_no,liables,credit_amount
0,A11,A34,A43,A65,A75,A93,A101,A121,A143,A152,...,A192,A201,1,6,4,4,67,2,1,1169
1,A12,A32,A43,A61,A73,A92,A101,A121,A143,A152,...,A191,A201,2,48,2,2,22,1,1,5951
2,A14,A34,A46,A61,A74,A93,A101,A121,A143,A152,...,A191,A201,3,12,2,3,49,1,2,2096
3,A11,A32,A42,A61,A74,A93,A103,A122,A143,A153,...,A191,A201,4,42,2,4,45,1,2,7882
4,A11,A33,A40,A61,A73,A93,A101,A124,A143,A153,...,A191,A201,5,24,3,4,53,2,2,4870

In [42]:
df['credit_amount'].nunique()

753

In [43]:
new_df = pd.get_dummies(df, columns = obj_cols)

In [44]:
new_df.head()

,serial number,duration_month,poi,resident_since,age,credits_no,liables,credit_amount,account_info_A11,account_info_A12,...,housing_type_A152,housing_type_A153,job_type_A171,job_type_A172,job_type_A173,job_type_A174,telephone_A191,telephone_A192,foreigner_A201,foreigner_A202
0,1,6,4,4,67,2,1,1169,1,0,...,1,0,0,0,1,0,0,1,1,0
1,2,48,2,2,22,1,1,5951,0,1,...,1,0,0,0,1,0,1,0,1,0
2,3,12,2,3,49,1,2,2096,0,0,...,1,0,0,1,0,0,1,0,1,0
3,4,42,2,4,45,1,2,7882,1,0,...,0,1,0,0,1,0,1,0,1,0
4,5,24,3,4,53,2,2,4870,1,0,...,0,1,0,0,1,0,1,0,1,0

In [45]:
new_df = new_df.sample(frac=1)

In [46]:
def save_final_mapping(df):
    mapping = new_df['serial number']
    return np.array(mapping)

In [47]:
mapping = save_final_mapping(new_df)
mapping.shape

(800,)

In [16]:
def drop_columns(df , columns):
    new_df = df.drop(columns =columns, axis = 1)
    return new_df

In [48]:
columns_to_be_dropped = ['serial number']
new_df = drop_columns(new_df, columns_to_be_dropped)

In [49]:
def get_classification_labels(row):
#for row in new_df.itertuples():
    #print(row.credit_amount)
    if(row < 1500):
        return 3
    elif(row >= 1500 and row < 4000):
        return 2
    elif (row >= 4000 and row < 20000):
        return 1

In [50]:
new_df['credit_amount'] = new_df['credit_amount'].apply(get_classification_labels)

In [51]:
new_df.groupby('credit_amount').count()

,duration_month,poi,resident_since,age,credits_no,liables,account_info_A11,account_info_A12,account_info_A13,account_info_A14,...,housing_type_A152,housing_type_A153,job_type_A171,job_type_A172,job_type_A173,job_type_A174,telephone_A191,telephone_A192,foreigner_A201,foreigner_A202
credit_amount,,,,,,,,,,,,,,,,,,,,,
1,193,193,193,193,193,193,193,193,193,193,...,193,193,193,193,193,193,193,193,193,193
2,353,353,353,353,353,353,353,353,353,353,...,353,353,353,353,353,353,353,353,353,353
3,254,254,254,254,254,254,254,254,254,254,...,254,254,254,254,254,254,254,254,254,254

In [52]:
def getFeatures(new_df):
    
    labels = new_df['credit_amount']
    X = drop_columns(new_df,'credit_amount')
    return np.array(X), np.array(labels)

In [53]:
X , y = getFeatures(new_df)

In [54]:
X.shape, y.shape

((800, 60), (800,))

In [55]:
X[2] ,y[0]

(array([18,  4,  2, 35,  1,  1,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,
         0,  0,  0,  1,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  1,
         0,  0,  1,  0,  0,  0,  1,  1,  0], dtype=int64), 3)

In [56]:
y[0]

3

In [57]:
from sklearn.model_selection import train_test_split

X_train, X_valid , y_train, y_valid = train_test_split(X, y, test_size =0.1,shuffle=True)

In [58]:
X_train.shape , y_train.shape , X_valid.shape , y_valid.shape

((720, 60), (720,), (80, 60), (80,))

In [59]:
from sklearn.preprocessing import MinMaxScaler
std = MinMaxScaler()
std.fit(X_train)
X_train = std.transform(X_train)
X_valid = std.transform(X_valid)

c:\users\kanwal\miniconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [60]:
X_train[0]

array([0.29411765, 0.        , 1.        , 0.05357143, 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 1.        ,
       0.        , 1.        , 0.        , 0.        , 1.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 1.        , 0.        , 0.        , 1.        ])

In [61]:
from sklearn.decomposition import PCA
pca= PCA(0.95)
pca.fit(X_train)
X_train = pca.transform(X_train)
X_train.shape

(720, 34)

In [62]:
X_valid = pca.transform(X_valid)
X_valid.shape

(80, 34)

In [63]:
X_train[0]

array([-0.99676379,  0.72212934,  0.38104339, -0.69671644, -0.1440212 ,
       -0.77233913,  0.44044501,  1.23769886, -0.46254599, -0.38610673,
        0.52009893,  0.86860512, -0.05966598,  0.73021566, -0.14574929,
       -0.34654519,  0.05074295,  0.72538572,  0.68459543,  0.73714895,
       -0.54664598,  0.87670764, -0.4327791 , -0.58028983,  0.05447159,
        0.20482433, -0.68144044,  0.53954045,  0.1243908 , -0.32463239,
       -0.30383765,  1.08775796,  0.06502304, -0.19669054])

In [64]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree 
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [65]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

def print_summary(classifier , X_valid, y_valid):
    prediction = classifier.predict(X_valid)
    print(accuracy_score(y_valid, prediction))
    print(classification_report(y_valid, prediction))
    print(confusion_matrix(y_valid, prediction))
    
def print_summary_new(prediction , y_valid):
    
    print(accuracy_score(y_valid, prediction))
    print(classification_report(y_valid, prediction))
    print(confusion_matrix(y_valid, prediction))

In [66]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree 
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression

def try_default_classifiers(X_train, y_train):
    
    
    classifier_lr = LogisticRegression()
    classifier_lr.fit(X_train, y_train)
    print("For Logistic Regression:\n")
    print_summary(classifier_lr, X_valid, y_valid)

    
    classifier_rf = RandomForestClassifier()
    classifier_rf.fit(X_train, y_train)
    print("For Random Forests:\n")
    print_summary(classifier_rf, X_valid, y_valid)
    
    classifier_t = tree.DecisionTreeClassifier()
    classifier_t.fit(X_train, y_train)
    print("For Decision Tree:\n")
    print_summary(classifier_t, X_valid, y_valid)
    
    classifier_svc = SVC()
    classifier_svc.fit(X_train, y_train)
    print("For SVC:\n")
    print_summary( classifier_svc, X_valid, y_valid)
    
    classifier_nb = GaussianNB()
    classifier_nb.fit(X_train, y_train)
    print("For Naive Bayes:\n")
    print_summary( classifier_nb, X_valid, y_valid)
    
    classifier_knn = KNeighborsClassifier()
    classifier_knn.fit(X_train, y_train)
    print("For KNN:\n")
    print_summary( classifier_knn, X_valid, y_valid)
    
    classifier_ada = AdaBoostClassifier()
    classifier_ada.fit(X_train, y_train)
    print("For Adaboost:\n")
    print_summary( classifier_ada, X_valid, y_valid)
    
    classifier_gbc = GradientBoostingClassifier()
    classifier_gbc.fit(X_train, y_train)
    print("For Gradient Boosting:\n")
    print_summary( classifier_gbc, X_valid, y_valid)
    
    classifier_xgb = XGBClassifier()
    classifier_xgb.fit(X_train, y_train)
    print("For XG Boosting:\n")
    print_summary( classifier_xgb, X_valid, y_valid)
    
    return [classifier_rf, classifier_t, classifier_svc, classifier_nb, classifier_knn,classifier_ada,classifier_gbc,classifier_xgb]

In [67]:
classifier_list = try_default_classifiers(X_train, y_train)

For Logistic Regression:

0.5625
             precision    recall  f1-score   support

          1       0.62      0.50      0.55        16
          2       0.56      0.68      0.61        37
          3       0.55      0.44      0.49        27

avg / total       0.56      0.56      0.56        80

[[ 8  6  2]
 [ 4 25  8]
 [ 1 14 12]]
For Random Forests:

0.5
             precision    recall  f1-score   support

          1       0.59      0.62      0.61        16
          2       0.51      0.57      0.54        37
          3       0.41      0.33      0.37        27

avg / total       0.49      0.50      0.49        80

[[10  4  2]
 [ 5 21 11]
 [ 2 16  9]]
For Decision Tree:

0.4375
             precision    recall  f1-score   support

          1       0.21      0.25      0.23        16
          2       0.53      0.51      0.52        37
          3       0.48      0.44      0.46        27

avg / total       0.45      0.44      0.44        80

[[ 4  8  4]
 [ 9 19  9]
 [ 6  9 12]]
For SVC:

0.5375
             precision    recall  f1-score   support

          1       0.56      0.31      0.40        16
          2       0.52      0.78      0.62        37
          3       0.60      0.33      0.43        27

avg / total       0.55      0.54      0.51        80

[[ 5 10  1]
 [ 3 29  5]
 [ 1 17  9]]
For Naive Bayes:

0.5375
             precision    recall  f1-score   support

          1       0.62      0.62      0.62        16
          2       0.55      0.62      0.58        37
          3       0.45      0.37      0.41        27

avg / total       0.53      0.54      0.53        80

[[10  3  3]
 [ 5 23  9]
 [ 1 16 10]]
For KNN:

0.45
             precision    recall  f1-score   support

          1       0.38      0.50      0.43        16
          2       0.47      0.51      0.49        37
          3       0.47      0.33      0.39        27

avg / total       0.46      0.45      0.45        80

[[ 8  6  2]
 [10 19  8]
 [ 3 15  9]]
For Adaboost:

0.525
             precision    recall  f1-score   support

          1       0.64      0.56      0.60        16
          2       0.53      0.73      0.61        37
          3       0.40      0.22      0.29        27

avg / total       0.51      0.53      0.50        80

[[ 9  6  1]
 [ 2 27  8]
 [ 3 18  6]]
For Gradient Boosting:

0.475
             precision    recall  f1-score   support

          1       0.38      0.19      0.25        16
          2       0.48      0.62      0.54        37
          3       0.50      0.44      0.47        27

avg / total       0.47      0.47      0.46        80

[[ 3 11  2]
 [ 4 23 10]
 [ 1 14 12]]
For XG Boosting:

0.5875
             precision    recall  f1-score   support

          1       0.60      0.38      0.46        16
          2       0.57      0.76      0.65        37
          3       0.62      0.48      0.54        27

avg / total       0.59      0.59      0.58        80

[[ 6  7  3]
 [ 4 28  5]
 [ 0 14 13]]

c:\users\kanwal\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [68]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder(sparse=False)
new_y = one.fit_transform(y.reshape(-1,1))
new_y.shape

(800, 3)

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_valid , y_train, y_valid = train_test_split(X, new_y, test_size =0.1,shuffle=True)

In [70]:
X_train.shape

(720, 60)

In [71]:
from sklearn.decomposition import PCA
pca= PCA()
pca.fit(X_train)
X_train = pca.transform(X_train)
X_valid = pca.transform(X_valid)

In [323]:
np.save('./X_train', X_train)
np.save('./X_valid', X_valid)

In [72]:
X_train.shape

(720, 60)

In [73]:
import keras
from keras.layers import BatchNormalization
from keras.layers.core import Flatten,Dense,Dropout, Activation, Lambda
from keras.models import Model, Sequential
from keras.optimizers import Adam,SGD
from keras.callbacks import TensorBoard

In [74]:
model = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
model.add(BatchNormalization(input_shape=(60,)))
model.add(Dense(100))
model.add(Activation('elu'))


model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(200))
model.add(Activation('elu'))
model.add(Dropout(0.5))
model.add(BatchNormalization())

model.add(Dense(100))
model.add(Activation('elu'))
model.add(Dropout(0.5))
model.add(Dense(3))
model.add(Activation('softmax'))

model.compile(optimizer = 'Adam' , loss = 'categorical_crossentropy', metrics=['accuracy'])

In [75]:
model.fit(X_train, y_train, epochs=150, verbose =1, validation_data=(X_valid, y_valid))

Train on 720 samples, validate on 80 samples
Epoch 1/150
720/720 [==============================] - 2s 3ms/step - loss: 1.7527 - acc: 0.3819 - val_loss: 0.9962 - val_acc: 0.5000
Epoch 2/150
720/720 [==============================] - 0s 346us/step - loss: 1.3544 - acc: 0.4556 - val_loss: 0.9022 - val_acc: 0.5500
Epoch 3/150
720/720 [==============================] - 0s 330us/step - loss: 1.2423 - acc: 0.5042 - val_loss: 0.8187 - val_acc: 0.5750
Epoch 4/150
720/720 [==============================] - 0s 347us/step - loss: 1.2286 - acc: 0.5250 - val_loss: 0.7792 - val_acc: 0.5750
Epoch 5/150
720/720 [==============================] - 0s 369us/step - loss: 1.0222 - acc: 0.5694 - val_loss: 0.7367 - val_acc: 0.5875
Epoch 6/150
720/720 [==============================] - 0s 353us/step - loss: 0.9911 - acc: 0.5264 - val_loss: 0.7124 - val_acc: 0.6125
Epoch 7/150
720/720 [==============================] - 0s 316us/step - loss: 0.8766 - acc: 0.6181 - val_loss: 0.7059 - val_acc: 0.6250
Epoch 8/150
720/720 [==============================] - 0s 358us/step - loss: 0.9617 - acc: 0.5861 - val_loss: 0.7591 - val_acc: 0.5875
Epoch 9/150
720/720 [==============================] - 0s 334us/step - loss: 0.8825 - acc: 0.6264 - val_loss: 0.7414 - val_acc: 0.6375
Epoch 10/150
720/720 [==============================] - 0s 378us/step - loss: 0.8565 - acc: 0.6069 - val_loss: 0.6872 - val_acc: 0.6750
Epoch 11/150
720/720 [==============================] - 0s 338us/step - loss: 0.8099 - acc: 0.6528 - val_loss: 0.7150 - val_acc: 0.6500
Epoch 12/150
720/720 [==============================] - 0s 353us/step - loss: 0.8036 - acc: 0.6375 - val_loss: 0.7389 - val_acc: 0.6000
Epoch 13/150
720/720 [==============================] - 0s 356us/step - loss: 0.8268 - acc: 0.6361 - val_loss: 0.7581 - val_acc: 0.5875
Epoch 14/150
720/720 [==============================] - 0s 344us/step - loss: 0.8115 - acc: 0.6306 - val_loss: 0.7512 - val_acc: 0.6125
Epoch 15/150
720/720 [==============================] - 0s 362us/step - loss: 0.7674 - acc: 0.6333 - val_loss: 0.7329 - val_acc: 0.6500
Epoch 16/150
720/720 [==============================] - 0s 349us/step - loss: 0.7214 - acc: 0.6903 - val_loss: 0.7195 - val_acc: 0.6125
Epoch 17/150
720/720 [==============================] - 0s 361us/step - loss: 0.7653 - acc: 0.6444 - val_loss: 0.7129 - val_acc: 0.6250
Epoch 18/150
720/720 [==============================] - 0s 336us/step - loss: 0.7561 - acc: 0.6583 - val_loss: 0.7175 - val_acc: 0.5625
Epoch 19/150
720/720 [==============================] - 0s 347us/step - loss: 0.6830 - acc: 0.6944 - val_loss: 0.7123 - val_acc: 0.5875
Epoch 20/150
720/720 [==============================] - 0s 387us/step - loss: 0.7190 - acc: 0.6792 - val_loss: 0.7214 - val_acc: 0.6375
Epoch 21/150
720/720 [==============================] - 0s 325us/step - loss: 0.7393 - acc: 0.6333 - val_loss: 0.7442 - val_acc: 0.5625
Epoch 22/150
720/720 [==============================] - 0s 346us/step - loss: 0.7001 - acc: 0.6750 - val_loss: 0.7448 - val_acc: 0.6375
Epoch 23/150
720/720 [==============================] - 0s 367us/step - loss: 0.6585 - acc: 0.6819 - val_loss: 0.7251 - val_acc: 0.6250
Epoch 24/150
720/720 [==============================] - 0s 324us/step - loss: 0.6603 - acc: 0.6889 - val_loss: 0.7255 - val_acc: 0.6125
Epoch 25/150
720/720 [==============================] - 0s 348us/step - loss: 0.6983 - acc: 0.6639 - val_loss: 0.7318 - val_acc: 0.5875
Epoch 26/150
720/720 [==============================] - 0s 359us/step - loss: 0.6653 - acc: 0.7083 - val_loss: 0.7439 - val_acc: 0.6125
Epoch 27/150
720/720 [==============================] - 0s 366us/step - loss: 0.6973 - acc: 0.7097 - val_loss: 0.7526 - val_acc: 0.6500
Epoch 28/150
720/720 [==============================] - 0s 336us/step - loss: 0.6979 - acc: 0.6806 - val_loss: 0.7503 - val_acc: 0.6250
Epoch 29/150
720/720 [==============================] - 0s 355us/step - loss: 0.6655 - acc: 0.6792 - val_loss: 0.7448 - val_acc: 0.5625
Epoch 30/150
720/720 [==============================] - 0s 355us/step - loss: 0.6607 - acc: 0.6972 - val_loss: 0.7454 - val_acc: 0.6000
Epoch 31/150
720/720 [==============================] - 0s 373us/step - loss: 0.6806 - acc: 0.7069 - val_loss: 0.7312 - val_acc: 0.6000
Epoch 32/150
720/720 [==============================] - 0s 362us/step - loss: 0.6323 - acc: 0.7153 - val_loss: 0.7373 - val_acc: 0.6000
Epoch 33/150
720/720 [==============================] - 0s 349us/step - loss: 0.6365 - acc: 0.7042 - val_loss: 0.7403 - val_acc: 0.6000
Epoch 34/150
720/720 [==============================] - 0s 353us/step - loss: 0.6279 - acc: 0.7069 - val_loss: 0.7292 - val_acc: 0.6000
Epoch 35/150
720/720 [==============================] - 0s 341us/step - loss: 0.6346 - acc: 0.7014 - val_loss: 0.7297 - val_acc: 0.6000
Epoch 36/150
720/720 [==============================] - 0s 375us/step - loss: 0.6162 - acc: 0.7264 - val_loss: 0.7393 - val_acc: 0.6000
Epoch 37/150
720/720 [==============================] - 0s 350us/step - loss: 0.6258 - acc: 0.7042 - val_loss: 0.7553 - val_acc: 0.5750
Epoch 38/150
720/720 [==============================] - 0s 329us/step - loss: 0.5998 - acc: 0.7208 - val_loss: 0.7532 - val_acc: 0.5750
Epoch 39/150
720/720 [==============================] - 0s 515us/step - loss: 0.5875 - acc: 0.7417 - val_loss: 0.7591 - val_acc: 0.6250
Epoch 40/150
720/720 [==============================] - 0s 385us/step - loss: 0.6250 - acc: 0.7111 - val_loss: 0.7503 - val_acc: 0.5875
Epoch 41/150
720/720 [==============================] - 0s 356us/step - loss: 0.6200 - acc: 0.7250 - val_loss: 0.7455 - val_acc: 0.6125
Epoch 42/150
720/720 [==============================] - 0s 357us/step - loss: 0.6029 - acc: 0.7444 - val_loss: 0.7482 - val_acc: 0.6000
Epoch 43/150
720/720 [==============================] - 0s 371us/step - loss: 0.5946 - acc: 0.7444 - val_loss: 0.7375 - val_acc: 0.6375
Epoch 44/150
720/720 [==============================] - 0s 352us/step - loss: 0.5640 - acc: 0.7597 - val_loss: 0.7511 - val_acc: 0.5875
Epoch 45/150
720/720 [==============================] - 0s 352us/step - loss: 0.6074 - acc: 0.7153 - val_loss: 0.7494 - val_acc: 0.5875
Epoch 46/150
720/720 [==============================] - 0s 346us/step - loss: 0.5807 - acc: 0.7264 - val_loss: 0.7469 - val_acc: 0.6000
Epoch 47/150
720/720 [==============================] - 0s 357us/step - loss: 0.5902 - acc: 0.7542 - val_loss: 0.7722 - val_acc: 0.5750
Epoch 48/150
720/720 [==============================] - 0s 355us/step - loss: 0.5961 - acc: 0.7417 - val_loss: 0.7688 - val_acc: 0.5750
Epoch 49/150
720/720 [==============================] - 0s 358us/step - loss: 0.5851 - acc: 0.7333 - val_loss: 0.7590 - val_acc: 0.6000
Epoch 50/150
720/720 [==============================] - 0s 364us/step - loss: 0.5751 - acc: 0.7250 - val_loss: 0.7630 - val_acc: 0.6000
Epoch 51/150
720/720 [==============================] - 0s 348us/step - loss: 0.5920 - acc: 0.7292 - val_loss: 0.7572 - val_acc: 0.6375
Epoch 52/150
720/720 [==============================] - 0s 333us/step - loss: 0.5750 - acc: 0.7417 - val_loss: 0.7392 - val_acc: 0.6250
Epoch 53/150
720/720 [==============================] - 0s 375us/step - loss: 0.5643 - acc: 0.7417 - val_loss: 0.7466 - val_acc: 0.6125
Epoch 54/150
720/720 [==============================] - 0s 355us/step - loss: 0.5801 - acc: 0.7403 - val_loss: 0.7405 - val_acc: 0.6375
Epoch 55/150
720/720 [==============================] - 0s 362us/step - loss: 0.5564 - acc: 0.7625 - val_loss: 0.7654 - val_acc: 0.6125
Epoch 56/150
720/720 [==============================] - 0s 362us/step - loss: 0.5491 - acc: 0.7444 - val_loss: 0.7874 - val_acc: 0.5875
Epoch 57/150
720/720 [==============================] - 0s 352us/step - loss: 0.5245 - acc: 0.7556 - val_loss: 0.8043 - val_acc: 0.5750
Epoch 58/150
720/720 [==============================] - 0s 354us/step - loss: 0.5782 - acc: 0.7486 - val_loss: 0.7775 - val_acc: 0.6125
Epoch 59/150
720/720 [==============================] - 0s 372us/step - loss: 0.5438 - acc: 0.7528 - val_loss: 0.7740 - val_acc: 0.6000
Epoch 60/150
720/720 [==============================] - 0s 361us/step - loss: 0.5309 - acc: 0.7611 - val_loss: 0.7979 - val_acc: 0.5875

Epoch 61/150
720/720 [==============================] - 0s 347us/step - loss: 0.5123 - acc: 0.7708 - val_loss: 0.8123 - val_acc: 0.6000
Epoch 62/150
720/720 [==============================] - 0s 349us/step - loss: 0.5518 - acc: 0.7556 - val_loss: 0.7988 - val_acc: 0.6000
Epoch 63/150
720/720 [==============================] - 0s 337us/step - loss: 0.5219 - acc: 0.7750 - val_loss: 0.7992 - val_acc: 0.6000
Epoch 64/150
720/720 [==============================] - 0s 336us/step - loss: 0.5473 - acc: 0.7708 - val_loss: 0.7881 - val_acc: 0.6375
Epoch 65/150
720/720 [==============================] - 0s 338us/step - loss: 0.5059 - acc: 0.7819 - val_loss: 0.8069 - val_acc: 0.6000
Epoch 66/150
720/720 [==============================] - 0s 356us/step - loss: 0.5185 - acc: 0.7792 - val_loss: 0.8041 - val_acc: 0.6000
Epoch 67/150
720/720 [==============================] - 0s 337us/step - loss: 0.5438 - acc: 0.7722 - val_loss: 0.7802 - val_acc: 0.6250
Epoch 68/150
720/720 [==============================] - 0s 347us/step - loss: 0.4972 - acc: 0.8083 - val_loss: 0.7867 - val_acc: 0.6375
Epoch 69/150
720/720 [==============================] - 0s 347us/step - loss: 0.5305 - acc: 0.7778 - val_loss: 0.8106 - val_acc: 0.6625
Epoch 70/150
720/720 [==============================] - 0s 322us/step - loss: 0.5045 - acc: 0.7958 - val_loss: 0.8198 - val_acc: 0.6000
Epoch 71/150
720/720 [==============================] - 0s 354us/step - loss: 0.5526 - acc: 0.7431 - val_loss: 0.8258 - val_acc: 0.6250
Epoch 72/150
720/720 [==============================] - 0s 319us/step - loss: 0.5089 - acc: 0.7722 - val_loss: 0.8226 - val_acc: 0.6000
Epoch 73/150
720/720 [==============================] - 0s 346us/step - loss: 0.4846 - acc: 0.7903 - val_loss: 0.8191 - val_acc: 0.6000
Epoch 74/150
720/720 [==============================] - 0s 326us/step - loss: 0.4931 - acc: 0.7903 - val_loss: 0.8142 - val_acc: 0.6375
Epoch 75/150
720/720 [==============================] - 0s 360us/step - loss: 0.4585 - acc: 0.7861 - val_loss: 0.8790 - val_acc: 0.6375
Epoch 76/150
720/720 [==============================] - 0s 343us/step - loss: 0.5045 - acc: 0.7819 - val_loss: 0.8650 - val_acc: 0.6125
Epoch 77/150
720/720 [==============================] - 0s 332us/step - loss: 0.5198 - acc: 0.7667 - val_loss: 0.8624 - val_acc: 0.6000
Epoch 78/150
720/720 [==============================] - 0s 347us/step - loss: 0.4667 - acc: 0.8014 - val_loss: 0.8777 - val_acc: 0.6125
Epoch 79/150
720/720 [==============================] - 0s 405us/step - loss: 0.4770 - acc: 0.7986 - val_loss: 0.8369 - val_acc: 0.6125
Epoch 80/150
720/720 [==============================] - 0s 369us/step - loss: 0.4977 - acc: 0.7931 - val_loss: 0.8492 - val_acc: 0.6125
Epoch 81/150
720/720 [==============================] - 0s 346us/step - loss: 0.4840 - acc: 0.7972 - val_loss: 0.8675 - val_acc: 0.5750
Epoch 82/150
720/720 [==============================] - 0s 347us/step - loss: 0.4463 - acc: 0.8014 - val_loss: 0.8677 - val_acc: 0.6000
Epoch 83/150
720/720 [==============================] - 0s 333us/step - loss: 0.4991 - acc: 0.7917 - val_loss: 0.8740 - val_acc: 0.6000
Epoch 84/150
720/720 [==============================] - 0s 324us/step - loss: 0.4823 - acc: 0.7806 - val_loss: 0.8305 - val_acc: 0.6250
Epoch 85/150
720/720 [==============================] - 0s 325us/step - loss: 0.4640 - acc: 0.8028 - val_loss: 0.8626 - val_acc: 0.6125
Epoch 86/150
720/720 [==============================] - 0s 363us/step - loss: 0.4512 - acc: 0.7986 - val_loss: 0.8731 - val_acc: 0.6375
Epoch 87/150
720/720 [==============================] - 0s 345us/step - loss: 0.4451 - acc: 0.8153 - val_loss: 0.8995 - val_acc: 0.6000
Epoch 88/150
720/720 [==============================] - 0s 348us/step - loss: 0.4734 - acc: 0.8097 - val_loss: 0.8865 - val_acc: 0.6125
Epoch 89/150
720/720 [==============================] - 0s 347us/step - loss: 0.4476 - acc: 0.8264 - val_loss: 0.8711 - val_acc: 0.6000
Epoch 90/150
720/720 [==============================] - 0s 347us/step - loss: 0.4943 - acc: 0.8014 - val_loss: 0.8480 - val_acc: 0.6250
Epoch 91/150
720/720 [==============================] - 0s 341us/step - loss: 0.4279 - acc: 0.8069 - val_loss: 0.8695 - val_acc: 0.6000
Epoch 92/150
720/720 [==============================] - 0s 326us/step - loss: 0.4268 - acc: 0.8194 - val_loss: 0.8771 - val_acc: 0.6125
Epoch 93/150
720/720 [==============================] - 0s 352us/step - loss: 0.4292 - acc: 0.8278 - val_loss: 0.9325 - val_acc: 0.6000
Epoch 94/150
720/720 [==============================] - 0s 347us/step - loss: 0.4180 - acc: 0.8236 - val_loss: 0.9337 - val_acc: 0.5750
Epoch 95/150
720/720 [==============================] - 0s 361us/step - loss: 0.4452 - acc: 0.8069 - val_loss: 0.8879 - val_acc: 0.6000
Epoch 96/150
720/720 [==============================] - 0s 323us/step - loss: 0.4146 - acc: 0.8306 - val_loss: 0.8868 - val_acc: 0.6250
Epoch 97/150
720/720 [==============================] - 0s 364us/step - loss: 0.4140 - acc: 0.8319 - val_loss: 0.9281 - val_acc: 0.6125
Epoch 98/150
720/720 [==============================] - 0s 391us/step - loss: 0.4104 - acc: 0.8319 - val_loss: 0.9407 - val_acc: 0.6125
Epoch 99/150
720/720 [==============================] - 0s 401us/step - loss: 0.4128 - acc: 0.8250 - val_loss: 0.9687 - val_acc: 0.6250
Epoch 100/150
720/720 [==============================] - 0s 389us/step - loss: 0.3951 - acc: 0.8222 - val_loss: 0.9379 - val_acc: 0.6125
Epoch 101/150
720/720 [==============================] - 0s 339us/step - loss: 0.4685 - acc: 0.8042 - val_loss: 0.9108 - val_acc: 0.6125
Epoch 102/150
720/720 [==============================] - 0s 357us/step - loss: 0.4022 - acc: 0.8153 - val_loss: 0.9257 - val_acc: 0.6250
Epoch 103/150
720/720 [==============================] - 0s 358us/step - loss: 0.3923 - acc: 0.8361 - val_loss: 0.9325 - val_acc: 0.6250
Epoch 104/150
720/720 [==============================] - 0s 350us/step - loss: 0.4401 - acc: 0.8250 - val_loss: 0.9302 - val_acc: 0.6375
Epoch 105/150
720/720 [==============================] - 0s 369us/step - loss: 0.4259 - acc: 0.8319 - val_loss: 0.9434 - val_acc: 0.6375
Epoch 106/150
720/720 [==============================] - 0s 350us/step - loss: 0.4064 - acc: 0.8319 - val_loss: 1.0061 - val_acc: 0.6375
Epoch 107/150
720/720 [==============================] - 0s 419us/step - loss: 0.4112 - acc: 0.8236 - val_loss: 1.0543 - val_acc: 0.6000
Epoch 108/150
720/720 [==============================] - 0s 390us/step - loss: 0.3688 - acc: 0.8500 - val_loss: 1.0702 - val_acc: 0.6000
Epoch 109/150
720/720 [==============================] - 0s 356us/step - loss: 0.4378 - acc: 0.8139 - val_loss: 1.0385 - val_acc: 0.6375
Epoch 110/150
720/720 [==============================] - 0s 361us/step - loss: 0.4079 - acc: 0.8403 - val_loss: 1.0355 - val_acc: 0.6375
Epoch 111/150
720/720 [==============================] - 0s 359us/step - loss: 0.4116 - acc: 0.8264 - val_loss: 1.0275 - val_acc: 0.6125
Epoch 112/150
720/720 [==============================] - 0s 361us/step - loss: 0.3923 - acc: 0.8250 - val_loss: 0.9901 - val_acc: 0.6250
Epoch 113/150
720/720 [==============================] - 0s 375us/step - loss: 0.3735 - acc: 0.8472 - val_loss: 1.0147 - val_acc: 0.6250
Epoch 114/150
720/720 [==============================] - 0s 363us/step - loss: 0.4275 - acc: 0.8236 - val_loss: 1.0544 - val_acc: 0.5875
Epoch 115/150
720/720 [==============================] - 0s 371us/step - loss: 0.4041 - acc: 0.8250 - val_loss: 1.0356 - val_acc: 0.6250
Epoch 116/150
720/720 [==============================] - 0s 356us/step - loss: 0.3642 - acc: 0.8417 - val_loss: 1.0807 - val_acc: 0.6000
Epoch 117/150
720/720 [==============================] - 0s 366us/step - loss: 0.3822 - acc: 0.8292 - val_loss: 1.0817 - val_acc: 0.6000
Epoch 118/150
720/720 [==============================] - 0s 365us/step - loss: 0.4237 - acc: 0.8333 - val_loss: 1.0597 - val_acc: 0.6125
Epoch 119/150
720/720 [==============================] - 0s 349us/step - loss: 0.3627 - acc: 0.8458 - val_loss: 1.0631 - val_acc: 0.6250
Epoch 120/150
720/720 [==============================] - 0s 363us/step - loss: 0.3912 - acc: 0.8333 - val_loss: 1.0621 - val_acc: 0.6500
Epoch 121/150

720/720 [==============================] - 0s 358us/step - loss: 0.3609 - acc: 0.8486 - val_loss: 1.0136 - val_acc: 0.6625
Epoch 122/150
720/720 [==============================] - 0s 337us/step - loss: 0.3580 - acc: 0.8569 - val_loss: 1.0234 - val_acc: 0.6625
Epoch 123/150
720/720 [==============================] - 0s 327us/step - loss: 0.3516 - acc: 0.8750 - val_loss: 1.0696 - val_acc: 0.6625
Epoch 124/150
720/720 [==============================] - 0s 367us/step - loss: 0.3483 - acc: 0.8625 - val_loss: 1.0621 - val_acc: 0.6375
Epoch 125/150
720/720 [==============================] - 0s 347us/step - loss: 0.3374 - acc: 0.8653 - val_loss: 1.0757 - val_acc: 0.6000
Epoch 126/150
720/720 [==============================] - 0s 323us/step - loss: 0.3488 - acc: 0.8431 - val_loss: 1.0595 - val_acc: 0.6000
Epoch 127/150
720/720 [==============================] - 0s 348us/step - loss: 0.3977 - acc: 0.8389 - val_loss: 1.0802 - val_acc: 0.5875
Epoch 128/150
720/720 [==============================] - 0s 352us/step - loss: 0.3353 - acc: 0.8667 - val_loss: 1.1105 - val_acc: 0.6125
Epoch 129/150
720/720 [==============================] - 0s 358us/step - loss: 0.3567 - acc: 0.8486 - val_loss: 1.1673 - val_acc: 0.5875
Epoch 130/150
720/720 [==============================] - 0s 328us/step - loss: 0.3262 - acc: 0.8708 - val_loss: 1.1085 - val_acc: 0.6250
Epoch 131/150
720/720 [==============================] - 0s 324us/step - loss: 0.3748 - acc: 0.8542 - val_loss: 1.1305 - val_acc: 0.6125
Epoch 132/150
720/720 [==============================] - 0s 360us/step - loss: 0.2960 - acc: 0.8903 - val_loss: 1.1679 - val_acc: 0.6250
Epoch 133/150
720/720 [==============================] - 0s 349us/step - loss: 0.3710 - acc: 0.8486 - val_loss: 1.1769 - val_acc: 0.6125
Epoch 134/150
720/720 [==============================] - 0s 348us/step - loss: 0.3686 - acc: 0.8528 - val_loss: 1.1247 - val_acc: 0.5875
Epoch 135/150
720/720 [==============================] - 0s 326us/step - loss: 0.3629 - acc: 0.8444 - val_loss: 1.0923 - val_acc: 0.6125
Epoch 136/150
720/720 [==============================] - 0s 348us/step - loss: 0.3245 - acc: 0.8722 - val_loss: 1.0896 - val_acc: 0.6250
Epoch 137/150
720/720 [==============================] - 0s 353us/step - loss: 0.3205 - acc: 0.8722 - val_loss: 1.0863 - val_acc: 0.6375
Epoch 138/150
720/720 [==============================] - 0s 317us/step - loss: 0.3080 - acc: 0.8569 - val_loss: 1.1247 - val_acc: 0.6250
Epoch 139/150
720/720 [==============================] - 0s 347us/step - loss: 0.3169 - acc: 0.8722 - val_loss: 1.1866 - val_acc: 0.6250
Epoch 140/150
720/720 [==============================] - 0s 362us/step - loss: 0.3584 - acc: 0.8514 - val_loss: 1.1345 - val_acc: 0.6375
Epoch 141/150
720/720 [==============================] - 0s 351us/step - loss: 0.3280 - acc: 0.8486 - val_loss: 1.1678 - val_acc: 0.6125
Epoch 142/150
720/720 [==============================] - 0s 361us/step - loss: 0.3260 - acc: 0.8542 - val_loss: 1.2270 - val_acc: 0.6125
Epoch 143/150
720/720 [==============================] - 0s 354us/step - loss: 0.3036 - acc: 0.8750 - val_loss: 1.2869 - val_acc: 0.6125
Epoch 144/150
720/720 [==============================] - 0s 346us/step - loss: 0.3390 - acc: 0.8500 - val_loss: 1.1873 - val_acc: 0.6625
Epoch 145/150
720/720 [==============================] - 0s 347us/step - loss: 0.3306 - acc: 0.8569 - val_loss: 1.2017 - val_acc: 0.6125
Epoch 146/150
720/720 [==============================] - 0s 391us/step - loss: 0.3034 - acc: 0.8764 - val_loss: 1.1424 - val_acc: 0.6125
Epoch 147/150
720/720 [==============================] - 0s 337us/step - loss: 0.3417 - acc: 0.8750 - val_loss: 1.1822 - val_acc: 0.6125
Epoch 148/150
720/720 [==============================] - 0s 338us/step - loss: 0.3434 - acc: 0.8500 - val_loss: 1.2007 - val_acc: 0.6125
Epoch 149/150
720/720 [==============================] - 0s 365us/step - loss: 0.3253 - acc: 0.8694 - val_loss: 1.2283 - val_acc: 0.5875
Epoch 150/150
720/720 [==============================] - 0s 344us/step - loss: 0.2896 - acc: 0.9042 - val_loss: 1.2558 - val_acc: 0.5750

In [322]:
model.save('model.h5')

In [26]:
from keras.models import load_model
model = load_model('model.h5')

In [27]:
test_df = pd.read_csv('./test_updated.csv')

In [28]:
test_df =reorder_columns(fil_cols, test_df)

In [29]:
test_df = pd.get_dummies(test_df, columns = obj_cols)
test_df.shape

(200, 62)

In [30]:
new_test_df = drop_columns(test_df, columns_to_be_dropped)

In [30]:
X_valid[0], y_train_scaled[0]

NameError: name 'y_train_scaled' is not defined

In [ ]:
valid_pred = model.predict(X_valid)

In [ ]:
scaled = scale_y.inverse_transform(valid_pred)

In [ ]:
scaled.reshape(-1) , y_valid

In [76]:
def get_classification_labels(row):
#for row in new_df.itertuples():
    #print(row.credit_amount)
    if(row < 1500):
        return 3
    elif(row >= 1500 and row < 4000):
        return 2
    elif (row >= 4000 and row < 20000):
        return 1

In [84]:
def write_csv_new( filename):
    df = pd.read_csv('regression_v2.csv')
    df['cluster_number'] = df['credit_amount'].apply(get_classification_labels)
    df = df.drop(columns=['credit_amount'])
    df.to_csv(filename,index=False)

In [85]:
write_csv_new('classification_v1.csv')