In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
def read_csv_file(filename):
    df = pd.read_csv(filename)
    print(df.info())
    return  df

In [3]:

df = read_csv_file('train.csv')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB
None

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
def drop_columns(df , columns):
    new_df = df.drop(columns =columns, axis = 1)
    return new_df

In [5]:
columns_to_be_dropped = ['employee_id']
new_df = drop_columns(df, columns_to_be_dropped)
new_df.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [6]:
new_df.isnull().sum()

department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [7]:
new_df.groupby(['education','department']).mean()

                                    no_of_trainings        age  \
education        department
Bachelor's       Analytics                 1.355455  31.569130
                 Finance                   1.308179  31.201055
                 HR                        1.055082  32.470820
                 Legal                     1.088452  32.764128
                 Operations                1.169644  34.721887
                 Procurement               1.369224  33.778284
                 R&D                       1.444649  31.915129
                 Sales & Marketing         1.299577  33.937562
                 Technology                1.273804  32.954976
Below Secondary  Finance                   1.358491  23.933962
                 HR                        1.046875  22.757812
                 Legal                     1.123077  26.307692
                 Operations                1.187500  24.215909
                 Procurement               1.519380  23.496124
                 Technology                1.348259  23.557214
Master's & above Analytics                 1.295082  36.929605
                 Finance                   1.288577  36.949900
                 HR                        1.053206  40.407913
                 Legal                     1.083333  42.480769
                 Operations                1.144076  40.170616
                 Procurement               1.234670  40.175314
                 R&D                       1.351981  34.414918
                 Sales & Marketing         1.253000  39.048008
                 Technology                1.232240  39.878871

                                    previous_year_rating  length_of_service  \
education        department
Bachelor's       Analytics                      3.545834           4.609100
                 Finance                        3.498191           4.431135
                 HR                             3.413254           4.896393
                 Legal                          3.387481           4.217445
                 Operations                     3.621540           5.926745
                 Procurement                    3.273020           5.503756
                 R&D                            3.533333           4.234317
                 Sales & Marketing              3.064602           5.542211
                 Technology                     3.161114           5.222964
Below Secondary  Finance                        3.515152           1.745283
                 HR                             3.573529           1.570312
                 Legal                          3.875000           1.707692
                 Operations                     3.555556           1.840909
                 Procurement                    3.217391           1.674419
                 Technology                     3.413793           1.666667
Master's & above Analytics                      3.611166           6.633558
                 Finance                        3.535354           6.953908
                 HR                             3.607387           8.027285
                 Legal                          3.352564           7.820513
                 Operations                     3.664762           7.941548
                 Procurement                    3.344392           7.986635
                 R&D                            3.610553           5.109557
                 Sales & Marketing              3.106512           7.526164
                 Technology                     3.150183           7.767304

                                    KPIs_met >80%  awards_won?  \
education        department
Bachelor's       Analytics               0.410256     0.023630
                 Finance                 0.428496     0.027441
                 HR                      0.338361     0.018361
                 Legal                   0.334152     0.025799
                 Operations              0.430022     0.022619
                 Procurement             0.374687     0.024812
                 R&D                     0.404059     0.029520
                 Sales & Marketing       0.265880     0.021173
                 Technology              0.345756     0.027143
Below Secondary  Finance                 0.433962     0.037736
                 HR                      0.382812     0.007812
                 Legal                   0.369231     0.000000
                 Operations              0.329545     0.011364
                 Procurement             0.372093     0.007752
                 Technology              0.482587     0.029851
Master's & above Analytics               0.391514     0.025072
                 Finance                 0.376754     0.026052
                 HR                      0.326057     0.021828
                 Legal                   0.314103     0.025641
                 Operations              0.447393     0.025592
                 Procurement             0.385220     0.023585
                 R&D                     0.442890     0.011655
                 Sales & Marketing       0.281325     0.021123
                 Technology              0.334699     0.022769

                                    avg_training_score  is_promoted
education        department
Bachelor's       Analytics                   84.558824     0.093766
                 Finance                     60.222164     0.082850
                 HR                          49.973115     0.047213
                 Legal                       59.868550     0.052826
                 Operations                  60.111939     0.083151
                 Procurement                 70.063282     0.088322
                 R&D                         84.607011     0.068266
                 Sales & Marketing           50.233444     0.071538
                 Technology                  79.980181     0.107066
Below Secondary  Finance                     59.820755     0.056604
                 HR                          49.812500     0.070312
                 Legal                       60.353846     0.061538
                 Operations                  59.710227     0.062500
                 Procurement                 69.775194     0.046512
                 Technology                  80.174129     0.154229
Master's & above Analytics                   84.740598     0.108968
                 Finance                     60.356713     0.086172
                 HR                          50.193724     0.073670
                 Legal                       59.743590     0.038462
                 Operations                  60.581043     0.113112
                 Procurement                 70.244890     0.115173
                 R&D                         84.645688     0.069930
                 Sales & Marketing           50.409506     0.082093
                 Technology                  79.802823     0.105647

In [8]:
columns_to_be_dropped = ['employee_id']
test_df = drop_columns(df, columns_to_be_dropped)
test_df.head()
test_df.groupby(['is_promoted','previous_year_rating']).count()

                                  department  region  education  gender  \
is_promoted previous_year_rating
0           1.0                         6135    6135       5801    6135
            2.0                         4044    4044       3856    4044
            3.0                        17263   17263      16542   17263
            4.0                         9093    9093       8742    9093
            5.0                         9820    9820       9487    9820
1           1.0                           88      88         86      88
            2.0                          181     181        179     181
            3.0                         1355    1355       1325    1355
            4.0                          784     784        767     784
            5.0                         1921    1921       1875    1921

                                  recruitment_channel  no_of_trainings    age  \
is_promoted previous_year_rating
0           1.0                                  6135             6135   6135
            2.0                                  4044             4044   4044
            3.0                                 17263            17263  17263
            4.0                                  9093             9093   9093
            5.0                                  9820             9820   9820
1           1.0                                    88               88     88
            2.0                                   181              181    181
            3.0                                  1355             1355   1355
            4.0                                   784              784    784
            5.0                                  1921             1921   1921

                                  length_of_service  KPIs_met >80%  \
is_promoted previous_year_rating
0           1.0                                6135           6135
            2.0                                4044           4044
            3.0                               17263          17263
            4.0                                9093           9093
            5.0                                9820           9820
1           1.0                                  88             88
            2.0                                 181            181
            3.0                                1355           1355
            4.0                                 784            784
            5.0                                1921           1921

                                  awards_won?  avg_training_score
is_promoted previous_year_rating
0           1.0                          6135                6135
            2.0                          4044                4044
            3.0                         17263               17263
            4.0                          9093                9093
            5.0                          9820                9820
1           1.0                            88                  88
            2.0                           181                 181
            3.0                          1355                1355
            4.0                           784                 784
            5.0                          1921                1921

In [9]:
new_df.loc[( (new_df['previous_year_rating'].isnull()) & ((new_df['is_promoted'] == 1) | (new_df['KPIs_met >80%'] == 1)) ) , 'previous_year_rating'] =5.0
new_df.loc[(new_df['previous_year_rating'].isnull()) , 'previous_year_rating'] = 3.0
new_df.loc[((new_df['education'].isnull()) & (new_df['age'] >= 36)),'education'] = 'Master\'s & above'
new_df.loc[((new_df['education'].isnull()) & ((new_df['age'] >= 30) & (new_df['age'] < 36)) ),'education'] = 'Bachelor\'s'
new_df.loc[((new_df['education'].isnull()) & (new_df['age'] < 30)  ),'education'] = 'Below Secondary'


#testing.head()

In [ ]:
# X = [] 
# X = new_df.values.tolist()

In [ ]:
# def count_non_null_in_list(X , col_id):
#     k=0
#     for row in X:
#         if math.isnan(row[col_id]) == True:
#             k= k+1
#     return k
    
# count_non_null_in_list(X , 7)

In [ ]:
# def do_missing_transformation(X, col_id, target_col_id, test_time=False):
#     if test_time==False:
#         for row in X:
#             if math.isnan(row[col_id]) == True and row[12] == 1:
#                 row[col_id] = 5.0
#             elif math.isnan(row[col_id]) == True:
#                 row[col_id] = 3.0
#     else:
#         for row in X:
#             if math.isnan(row[col_id]) == True:
#                 row[col_id] = 3.0

# do_missing_transformation(X,7,12)

In [ ]:
# count_non_null_in_list(X, 7)

In [ ]:
# df_visual = pd.DataFrame(X)
# df_visual.head()

In [10]:
import numpy as np

def get_features_and_labels(X):
    X = np.array(X)
    labels = X[:,-1]
    X = X[:,:-1]
    return X, labels

#X, labels = get_features_and_labels(X)

In [11]:
df_visual = new_df

# Visualization

In [12]:

df_visual = df_visual.rename(columns={
    'recruitment_channel':'channel',
    
    'no_of_trainings':'trainings',
    
    'previous_year_rating':'rating',
    'length_of_service':'service',
    'KPIs_met >80%':'kpi',
    'awards_won?':'award',
    
    'avg_training_score':'score',
    'is_promoted':'promoted'
})
df_visual.head()

,department,region,education,gender,channel,trainings,age,rating,service,kpi,award,score,promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [ ]:
df_visual.dtypes

In [ ]:
# check what is the promotion rate. Same rate has to be there in cross validation
promotion_rate = df_visual.promoted.value_counts() / len(df_visual)
promotion_rate

## Only 8.5 % of the people have been promoted according to the data

In [ ]:
df_visual.describe()

In [ ]:
promoted = df_visual.groupby('promoted')
promoted.mean()

## Heatmap

In [ ]:
import seaborn as sns

corr= df_visual.corr()
print(corr)
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

### 1. rating and kpi are strongly correlated to each other. It means people who have good ratings are the ones who have achieved their KPI's
### 2. rating, kpi and training score are the factors that contribute higly towards our target variable promotion
### 3. Age and service have highest corelation

In [ ]:
sns.pairplot(df_visual)

In [ ]:
import matplotlib.pyplot as plt

f, axes = plt.subplots(ncols=3, figsize=(15, 6))

# Graph Employee Satisfaction
sns.distplot(df_visual.rating, kde=False, color="g", ax=axes[0]).set_title('Employee Rating Distribution')
axes[0].set_ylabel('Employee Count')

# Graph Employee Evaluation
sns.distplot(df_visual.kpi, kde=False, color="r", ax=axes[1]).set_title('Employee KPI Distribution')
axes[1].set_ylabel('Employee Count')

# Graph Employee Average Monthly Hours
sns.distplot(df_visual.score, kde=False, color="b", ax=axes[2]).set_title('Employee Score Distribution')
axes[2].set_ylabel('Employee Count')

## Promotion vs Department

In [ ]:
sns.countplot(y='department', data=df_visual).set_title('Employee Department Distribution');

In [ ]:
sns.countplot(y='department', hue='promoted', data=df_visual).set_title('Employee Department Promotion Distribution');

In [ ]:
promot_dept = df_visual.groupby(['department'])
promot_dept.promoted.mean()*100

### Promotion Rates according to department

Department
Analytics             9.566517
Finance               8.123028
HR                    5.624483
Legal                 5.101059
Operations            9.014804
Procurement           9.638554
R&D                   6.906907
Sales & Marketing     7.203088
Technology           10.759316

### Technology is the department which has the highest promotion rate. Sales and Marketing have the maximum number of people

### Promotion vs Region

In [ ]:
f, ax = plt.subplots(figsize=(15, 15))
sns.countplot(y='region', data=df_visual).set_title('Employee Region Distribution');

In [ ]:
f, ax = plt.subplots(figsize=(15, 15))
sns.countplot(y='region', hue='promoted', data=df_visual).set_title('Employee Region Distribution');

In [ ]:
promot_region = df_visual.groupby(['region'])
promot_region.promoted.mean()*100

## 14% of the Region 4 employees were promoted which is way above the average promotion rate

In [ ]:
sns.countplot(y='gender', hue='promoted', data=df_visual).set_title('Employee Region Distribution');

In [ ]:
gen = df_visual.groupby(['gender'])
gen.promoted.mean()*100

In [ ]:
sns.countplot(y='education', hue='promoted', data=df_visual).set_title('Employee Region Distribution');

In [ ]:
edu = df_visual.groupby(['education'])
edu.promoted.mean()*100

In [ ]:
sns.countplot(x='channel', hue='promoted', data=df_visual).set_title('Employee Region Distribution');

In [ ]:
chan = df_visual.groupby(['channel'])
chan.promoted.mean()*100

In [ ]:
df_visual['score'].unique()

In [14]:
#df_visual['score'] = pd.cut(df_visual['score'], 5)
df_visual.head()
new_df_visual = drop_columns(df_visual, columns=['gender','age','trainings','service'])
#X = np.array(df_visual.values)

In [15]:
X = np.array(new_df_visual.values)
X, labels = get_features_and_labels(X)

In [16]:
X[0]

array(['Sales & Marketing', 'region_7', "Master's & above", 'sourcing',
       5.0, 1, 0, 49], dtype=object)

# One Hot Encoding

In [17]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

def one_hot_encoding(X , col_id):
    lbl = LabelEncoder()
    enc = OneHotEncoder(sparse=False)
    X[:,col_id] = lbl.fit_transform(X[:,col_id])
    integer_encoded = X[:,col_id].reshape(len(X[:,col_id]), 1)
    onehot_encoded = enc.fit_transform(integer_encoded)
    onehot_encoded = np.array(onehot_encoded)
    new_X = np.append(np.delete(X, col_id, axis = 1),onehot_encoded, axis = 1)
    print(new_X.shape)
    return new_X

In [18]:
X[0]

array(['Sales & Marketing', 'region_7', "Master's & above", 'sourcing',
       5.0, 1, 0, 49], dtype=object)

In [27]:
X = one_hot_encoding(X, 0)
X

(54808, 53)

array([[5.0, 1, 0, ..., 0.0, 0.0, 1.0],
       [5.0, 0, 0, ..., 1.0, 0.0, 0.0],
       [3.0, 0, 0, ..., 0.0, 0.0, 1.0],
       ...,
       [5.0, 1, 0, ..., 1.0, 0.0, 0.0],
       [1.0, 0, 0, ..., 0.0, 0.0, 1.0],
       [1.0, 0, 0, ..., 1.0, 0.0, 0.0]], dtype=object)

# Train Test Split

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_valid , y_train, y_valid = train_test_split(X, labels, test_size =0.1, shuffle=True)

In [30]:
X_train.shape , y_train.shape , X_valid.shape , y_valid.shape

((49327, 53), (49327,), (5481, 53), (5481,))

# Classifiers

In [31]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

def print_summary(classifier , X_valid, y_valid):
    prediction = classifier.predict(X_valid)
    print(accuracy_score(y_valid, prediction))
    print(classification_report(y_valid, prediction))
    print(confusion_matrix(y_valid, prediction))
    
def print_summary_new(prediction , y_valid):
    
    print(accuracy_score(y_valid, prediction))
    print(classification_report(y_valid, prediction))
    print(confusion_matrix(y_valid, prediction))

In [32]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree 
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

def try_default_classifiers(X_train, y_train):
    classifier_rf = RandomForestClassifier()
    classifier_rf.fit(X_train, y_train)
    print("For Random Forests:\n")
    print_summary(classifier_rf, X_valid, y_valid)
    
    classifier_t = tree.DecisionTreeClassifier()
    classifier_t.fit(X_train, y_train)
    print("For Decision Tree:\n")
    print_summary(classifier_t, X_valid, y_valid)
    
    classifier_svc = SVC()
    classifier_svc.fit(X_train, y_train)
    print("For SVC:\n")
    print_summary( classifier_svc, X_valid, y_valid)
    
    classifier_nb = GaussianNB()
    classifier_nb.fit(X_train, y_train)
    print("For Naive Bayes:\n")
    print_summary( classifier_nb, X_valid, y_valid)
    
    classifier_knn = KNeighborsClassifier()
    classifier_knn.fit(X_train, y_train)
    print("For KNN:\n")
    print_summary( classifier_knn, X_valid, y_valid)
    
    classifier_ada = AdaBoostClassifier()
    classifier_ada.fit(X_train, y_train)
    print("For Adaboost:\n")
    print_summary( classifier_ada, X_valid, y_valid)
    
    classifier_gbc = GradientBoostingClassifier()
    classifier_gbc.fit(X_train, y_train)
    print("For Gradient Boosting:\n")
    print_summary( classifier_gbc, X_valid, y_valid)
    
    classifier_xgb = XGBClassifier()
    classifier_xgb.fit(X_train, y_train)
    print("For XG Boosting:\n")
    print_summary( classifier_xgb, X_valid, y_valid)
    
    return [classifier_rf, classifier_t, classifier_svc, classifier_nb, classifier_knn,classifier_ada,classifier_gbc,classifier_xgb]

In [33]:
X_train =X_train.astype(float)
y_train = y_train.astype(float)
X_valid = X_valid.astype(float)
y_valid = y_valid.astype(float)

In [34]:
classifier_list = try_default_classifiers(X_train, y_train)

For Random Forests:

0.9220945083014048
             precision    recall  f1-score   support

        0.0       0.94      0.97      0.96      5031
        1.0       0.54      0.36      0.43       450

avg / total       0.91      0.92      0.91      5481

[[4892  139]
 [ 288  162]]
For Decision Tree:

0.9220945083014048
             precision    recall  f1-score   support

        0.0       0.95      0.97      0.96      5031
        1.0       0.53      0.42      0.47       450

avg / total       0.91      0.92      0.92      5481

[[4867  164]
 [ 263  187]]
For SVC:

0.9436234263820471
             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      5031
        1.0       0.97      0.32      0.48       450

avg / total       0.95      0.94      0.93      5481

[[5027    4]
 [ 305  145]]
For Naive Bayes:

0.5644955300127714
             precision    recall  f1-score   support

        0.0       0.96      0.55      0.70      5031
        1.0       0.13      0.74      0.22       450

avg / total       0.89      0.56      0.66      5481

[[2763 2268]
 [ 119  331]]
For KNN:

0.9312169312169312
             precision    recall  f1-score   support

        0.0       0.94      0.99      0.96      5031
        1.0       0.74      0.25      0.38       450

avg / total       0.92      0.93      0.92      5481

[[4990   41]
 [ 336  114]]
For Adaboost:

0.9259259259259259
             precision    recall  f1-score   support

        0.0       0.93      0.99      0.96      5031
        1.0       0.72      0.16      0.26       450

avg / total       0.91      0.93      0.90      5481

[[5003   28]
 [ 378   72]]
For Gradient Boosting:

0.9421638387155629
             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      5031
        1.0       0.95      0.31      0.47       450

avg / total       0.94      0.94      0.93      5481

[[5024    7]
 [ 310  140]]
For XG Boosting:

0.940156905674147
             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      5031
        1.0       0.96      0.28      0.44       450

avg / total       0.94      0.94      0.92      5481

[[5026    5]
 [ 323  127]]

c:\users\kanwal\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [95]:
classifier_svc = SVC(C=10, kernel='rbf')
classifier_svc.fit(X_train, y_train)
print_summary( classifier_svc, X_valid, y_valid)

0.9445356686735997
             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      5031
        1.0       0.96      0.34      0.50       450

avg / total       0.95      0.94      0.93      5481

[[5025    6]
 [ 298  152]]

In [35]:
final_model = classifier_list[2]
final_model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

# Neural Network

In [36]:
import keras
from keras.layers import BatchNormalization
from keras.layers.core import Flatten,Dense,Dropout, Activation, Lambda
from keras.models import Model, Sequential
from keras.optimizers import Adam,SGD
from keras.callbacks import TensorBoard

Using TensorFlow backend.

In [37]:
model = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
model.add(BatchNormalization(input_shape=(53,)))
model.add(Dense(1000))
model.add(Activation('relu'))


#model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(Dense(500))
model.add(Activation('relu'))
#model.add(Dropout(0.2))
#model.add(BatchNormalization())
model.add(Dense(50))
model.add(Activation('relu'))

model.add(Dense(1))
model.add(Activation('sigmoid'))
model.compile(optimizer = 'Adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

In [38]:
model.fit(X_train, y_train, epochs=10, verbose =1, validation_data=(X_valid, y_valid), batch_size =64)

Train on 49327 samples, validate on 5481 samples
Epoch 1/10
49327/49327 [==============================] - 16s 333us/step - loss: 0.2121 - acc: 0.9286 - val_loss: 0.1823 - val_acc: 0.9391
Epoch 2/10
49327/49327 [==============================] - 15s 308us/step - loss: 0.1786 - acc: 0.9376 - val_loss: 0.1755 - val_acc: 0.9411
Epoch 3/10
49327/49327 [==============================] - 15s 309us/step - loss: 0.1747 - acc: 0.9385 - val_loss: 0.1678 - val_acc: 0.9431
Epoch 4/10
49327/49327 [==============================] - 15s 310us/step - loss: 0.1712 - acc: 0.9392 - val_loss: 0.1656 - val_acc: 0.9418
Epoch 5/10
49327/49327 [==============================] - 15s 310us/step - loss: 0.1693 - acc: 0.9394 - val_loss: 0.1634 - val_acc: 0.9429
Epoch 6/10
49327/49327 [==============================] - 15s 310us/step - loss: 0.1665 - acc: 0.9399 - val_loss: 0.1706 - val_acc: 0.9416 lo
Epoch 7/10
49327/49327 [==============================] - 15s 306us/step - loss: 0.1657 - acc: 0.9405 - val_loss: 0.1699 - val_acc: 0.9418
Epoch 8/10
49327/49327 [==============================] - 15s 305us/step - loss: 0.1645 - acc: 0.9405 - val_loss: 0.1691 - val_acc: 0.9420
Epoch 9/10
49327/49327 [==============================] - 15s 303us/step - loss: 0.1617 - acc: 0.9410 - val_loss: 0.1723 - val_acc: 0.9431
Epoch 10/10
49327/49327 [==============================] - 15s 309us/step - loss: 0.1613 - acc: 0.9410 - val_loss: 0.1685 - val_acc: 0.9422

In [39]:
model_1 = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
model_1.add(BatchNormalization(input_shape=(53,)))
model_1.add(Dense(10))
model_1.add(Activation('relu'))


#model.add(Dropout(0.2))
model_1.add(BatchNormalization())
model_1.add(Dense(500))
model_1.add(Activation('relu'))
#model.add(Dropout(0.2))
#model.add(BatchNormalization())
model_1.add(Dense(250))
model_1.add(Activation('relu'))

model_1.add(Dense(100))
model_1.add(Activation('relu'))
model_1.add(Dense(50))
model_1.add(Activation('relu'))

model_1.add(Dense(1))
model_1.add(Activation('sigmoid'))
model_1.compile(optimizer = 'Adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

In [40]:
model_1.fit(X_train, y_train, epochs=10, verbose =1, validation_data=(X_valid, y_valid), batch_size =96)

Train on 49327 samples, validate on 5481 samples
Epoch 1/10
49327/49327 [==============================] - 4s 85us/step - loss: 0.2557 - acc: 0.9162 - val_loss: 0.2125 - val_acc: 0.9257
Epoch 2/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1963 - acc: 0.9317 - val_loss: 0.1839 - val_acc: 0.9378
Epoch 3/10
49327/49327 [==============================] - 3s 68us/step - loss: 0.1821 - acc: 0.9366 - val_loss: 0.1707 - val_acc: 0.9403
Epoch 4/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1764 - acc: 0.9383 - val_loss: 0.1662 - val_acc: 0.9420
Epoch 5/10
49327/49327 [==============================] - 3s 68us/step - loss: 0.1749 - acc: 0.9392 - val_loss: 0.1680 - val_acc: 0.9429
Epoch 6/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1726 - acc: 0.9394 - val_loss: 0.1646 - val_acc: 0.9420
Epoch 7/10
49327/49327 [==============================] - 3s 68us/step - loss: 0.1714 - acc: 0.9392 - val_loss: 0.1633 - val_acc: 0.9444
Epoch 8/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1704 - acc: 0.9399 - val_loss: 0.1667 - val_acc: 0.9431
Epoch 9/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1694 - acc: 0.9404 - val_loss: 0.1620 - val_acc: 0.9438
Epoch 10/10
49327/49327 [==============================] - 3s 67us/step - loss: 0.1693 - acc: 0.9404 - val_loss: 0.1620 - val_acc: 0.9434

In [ ]:
model_2 = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
model_2.add(BatchNormalization(input_shape=(53,)))
model_2.add(Dense(126))
model_2.add(Activation('relu'))


#model.add(Dropout(0.2))
model_2.add(BatchNormalization())
model_2.add(Dense(53))
model_2.add(Activation('relu'))
#model.add(Dropout(0.2))
#model.add(BatchNormalization())
model_2.add(Dense(126))
model_2.add(Activation('relu'))

model_2.add(Dense(53))
model_2.add(Activation('relu'))
model_2.add(Dense(50))
model_2.add(Activation('relu'))

model_2.add(Dense(1))
model_2.add(Activation('sigmoid'))
model_2.compile(optimizer = 'Adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

In [ ]:
model_2.fit(X_train, y_train, epochs=10, verbose =1, validation_data=(X_valid, y_valid), batch_size =96)

# Test Data Prediction

In [41]:
test_df = read_csv_file('test.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
employee_id             23490 non-null int64
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB
None

In [43]:
def perform_transformations(new_df):
    new_df.loc[((new_df['previous_year_rating'].isnull()) & (new_df['KPIs_met >80%'] == 1)) , 'previous_year_rating'] =5.0
    new_df.loc[(new_df['previous_year_rating'].isnull()) , 'previous_year_rating'] = 3.0
    new_df.loc[((new_df['education'].isnull()) & (new_df['age'] >= 36)),'education'] = 'Master\'s & above'
    new_df.loc[((new_df['education'].isnull()) & ((new_df['age'] >= 30) & (new_df['age'] < 36)) ),'education'] = 'Bachelor\'s'
    new_df.loc[((new_df['education'].isnull()) & (new_df['age'] < 30)  ),'education'] = 'Below Secondary'
    return new_df

test_df = perform_transformations(test_df)

#testing.head()

In [44]:

new_test_df = drop_columns(test_df, columns=['employee_id','no_of_trainings','gender','age','length_of_service'])
new_test_df.head()

,department,region,education,recruitment_channel,previous_year_rating,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_26,Bachelor's,sourcing,5.0,1,0,77
1,HR,region_4,Bachelor's,other,3.0,0,0,51
2,Sales & Marketing,region_13,Bachelor's,other,1.0,0,0,47
3,Procurement,region_2,Bachelor's,other,2.0,0,0,65
4,Finance,region_29,Bachelor's,sourcing,4.0,0,0,61

In [45]:
print(new_test_df.isnull().sum())

department              0
region                  0
education               0
recruitment_channel     0
previous_year_rating    0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [ ]:

# bin_range = [38.94, 99.0]
# bin_input = input("Enter bins as comma seperated list")
# bin_input_parsed = [float(x.strip()) for x in bin_input.split(',')]

# bins = [bin_range[0]] + bin_input_parsed + [bin_range[1]]

In [ ]:
#  new_test_df['avg_training_score'] = pd.cut( new_test_df['avg_training_score'], bins)

In [ ]:
# new_test_df.isnull().sum()

In [ ]:
# new_test_df['education'] = new_test_df['education'].fillna(value = 'Bachelor\'s')

In [ ]:
# X_test_1 = [] 
# X_test_1 = new_test_df.values.tolist()

#do_missing_transformation(X_test_1,True)

In [ ]:
# for i in X_test_1:
#     if(i[5] == 1 and math.isnan(i[4])):
#         i[4] = 5.0
#     elif(i[5] == 0 and math.isnan(i[4])):
#         i[4] = 3.0

In [ ]:
# count_non_null_in_list(X_test_1,4)

In [46]:
X_test_1 = np.array(new_test_df.values.tolist())
X_test_1.shape

(23490, 8)

In [47]:
X_test_1[0]

array(['Technology', 'region_26', "Bachelor's", 'sourcing', '5.0', '1',
       '0', '77'], dtype='<U17')

In [51]:
X_test_1 = one_hot_encoding(X_test_1,0)

(23490, 53)

In [ ]:
X_test_1[0]

In [84]:
def do_prediction_and_write_file(X,  filename, model, Neural_Network=False):
    pred_test = model.predict(X)
    
#     if Neural_Network==False:
#         file = open(filename , 'a+')
# #         for i in pred_test:
# #             file.write(i+'\n')
# #         file.close()
    
#     else:
    if(Neural_Network):
         pred_test = (pred_test >=0.4).astype(int)
         pred_test = pred_test.reshape(-1)
         print("hello")
#         file = open(filename, 'a+')
#         for i in pred_test:
#             file.write(str(i)+'\n')
#         file.close()
    return pred_test

In [85]:
pred = do_prediction_and_write_file(X_test_1, 'visualization.txt', final_model, False)
calculate_promotions(pred)

0.02652192422307365

In [86]:
pred_nn = do_prediction_and_write_file(X_test_1, 'visualization.txt', model, True)
calculate_promotions(pred_nn)

hello

0.03529161345253299

In [87]:
pred_nn_1 = do_prediction_and_write_file(X_test_1, 'visualization.txt', model_1, True)
calculate_promotions(pred_nn_1)

hello

0.030353341847594723

In [88]:
pred_gb = do_prediction_and_write_file(X_test_1, 'visualization.txt', classifier_list[6], False)
calculate_promotions(pred_gb)

0.025117071094082587

In [99]:
pred_rf = do_prediction_and_write_file(X_test_1, 'visualization.txt', classifier_list[0], False)
calculate_promotions(pred_rf)

0.0534269902085994

In [90]:
pred_xg = do_prediction_and_write_file(X_test_1, 'visualization.txt', classifier_list[7], False)
calculate_promotions(pred_xg)

c:\users\kanwal\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.022647935291613453

In [91]:
def calculate_promotions(pred):
    j=0
    for i in pred:
        if i == 1:
            j=j+1;
    return j/len(pred)

In [100]:
j=0
pred_combined=[]
for i in zip(pred,pred_nn,pred_gb, pred_xg, pred_rf,pred_nn_1):
    if i[0] == 1 or i[1]==1 or i[2]==1 or i[3]==1  and i[4]==1 or i[5] == 1:
        j=j+1;
        pred_combined.append(1)
    else:
        pred_combined.append(0)
        
j/len(pred_combined)
#pred_combined = np.array(pred_combined)

0.0389953171562367

In [83]:
len(pred_combined)

5481

# Write Test Results to CSV

In [93]:
def write_csv(pred_test, filename):
    df = pd.read_csv('submission_1.csv')
    df['is_promoted'] = pred_test
    df.to_csv(filename,index=False)

In [98]:
write_csv(pred_combined, 'x_new_randomness_crazy_svc.csv')

In [67]:
pred = do_prediction_and_write_file(X_valid, 'visualization.txt', final_model, False)
pred_nn = do_prediction_and_write_file(X_valid, 'visualization.txt', model, True)
pred_nn_1 = do_prediction_and_write_file(X_valid, 'visualization.txt', model_1, True)
#pred_nn_2 = do_prediction_and_write_file(X_valid, 'visualization.txt', model_2, True)

pred_gb = do_prediction_and_write_file(X_valid, 'visualization.txt', classifier_list[6], False)
pred_rf = do_prediction_and_write_file(X_valid, 'visualization.txt', classifier_list[0], False)
pred_xg = do_prediction_and_write_file(X_valid, 'visualization.txt', classifier_list[7], False)
j=0
pred_combined=[]
for i in zip(pred,pred_nn,pred_gb, pred_xg,pred_nn_1):
    if i[0] == 1 or i[1]==1 or i[2]==1 or i[3]==1  or i[4]==1:
        j=j+1;
        pred_combined.append(1)
    else:
        pred_combined.append(0)
        
j/len(pred_combined)

hello
hello

c:\users\kanwal\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.0421455938697318

In [68]:
print_summary_new(pred_combined, y_valid)

0.9392446633825944
             precision    recall  f1-score   support

        0.0       0.95      0.99      0.97      5031
        1.0       0.75      0.39      0.51       450

avg / total       0.93      0.94      0.93      5481

[[4974   57]
 [ 276  174]]